<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="header-section">
        <header class="header">
          <div class="nav-container">
              <div class="logo-container"> Job Search</div>
              <ul class="menu-container">
                  <li><a href="">Companies</a></li>
                  <li><a href="">Partners</a></li>
                  <li><a href="">register</a></li>
                  <li><a href="">Login</a></li>
              </ul>
              <div class="search"><i class="fa fa-search"></i></div>
          </div>
        </header>
        <article class="hero active">
          <img class="hero-img" src="/images/img1.jpeg" alt="">
          <div class="hero-info  hero-info-1">
              <h5>Lorem, ipsum dolor.</h5>
              <div class="underline"></div>
              <h4>Lorem ipsum dolor sit amet.</h4>
              <h1>lorem</h1>
              <p>Lorem, ipsum.</p>
              <button class="btn">find out</button>
          </div>
        </article>
        <article class="hero next">
          <img class="hero-img" src="/images/img2.jpeg" alt="">
          <div class="hero-info  hero-info-2">
            <h5>Lorem, ipsum dolor.</h5>
            <div class="underline"></div>
            <h4>Lorem ipsum dolor sit amet.</h4>
            <h1>lorem</h1>
            <p>Lorem, ipsum.</p>
            <button class="btn">find out</button>
          </div>
        </article>
        <article class="hero previous">
          <img class="hero-img" src="/images/img1.jpeg" alt="">
          <div class="hero-info hero-info-3 ">
            <h5>Lorem, ipsum dolor.</h5>
            <div class="underline"></div>
            <h4>Lorem ipsum dolor sit amet.</h4>
            <h1>lorem</h1>
            <p>Lorem, ipsum.</p>
            <button class="btn">find out</button>
          </div>
        </article>
    </section>
    <main>
        <section class="section section-partners">
          <div class="single-partner partner-1">
              <div class="partner-data data-1">
                  <div class="partner-info">
                      <h5>Microsft</h5>
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, consequatur optio labore suscipit temporibus itaque!</p>
                      <button class="btn">read more</button>
                  </div>
                  <div class="partner-img">
                      <img src="/images/img2.jpeg" alt="">
                  </div>
              </div>
              <div class="partner-data data-1">
                  <div class="partner-info">
                      <h5>Microsft</h5>
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, consequatur optio labore suscipit temporibus itaque!</p>
                      <button class="btn">read more</button>
                  </div>
                  <div class="partner-img">
                      <img src="/images/img1.jpeg" alt="">
                  </div>
              </div>
          </div>
          <div class="single-partner partner-2">
            <div class="partner-data data-2">
                <div class="partner-img">
                    <img src="/images/img2.jpeg" alt="">
                </div>
                <div class="partner-info">
                    <h5>Microsft</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, consequatur optio labore suscipit temporibus itaque!</p>
                    <button class="btn">read more</button>
                </div>
            </div>
            <div class="partner-data data-2">
                <div class="partner-img">
                    <img src="/images/img2.jpeg" alt="">
                </div>
                <div class="partner-info">
                    <h5>Microsft</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, consequatur optio labore suscipit temporibus itaque!</p>
                    <button class="btn">read more</button>
                </div>
            </div>
          </div>
          <div class="single-partner partner-3">
            <div class="partner-data data-3">
                <div class="partner-info">
                    <h5>Microsft</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, consequatur optio labore suscipit temporibus itaque!</p>
                    <button class="btn">read more</button>
                </div>
                <div class="partner-img">
                    <img src="/images/img2.jpeg" alt="">
                </div>
            </div>
            <div class="partner-data data-3">
                <div class="partner-info">
                    <h5>Microsft</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, consequatur optio labore suscipit temporibus itaque!</p>
                    <button class="btn">read more</button>
                </div>
                <div class="partner-img">
                    <img src="/images/img2.jpeg" alt="">
                </div>
            </div>
          </div>
        </section>
        <section class="section section-services">
            <div class="services-container">
                <div class="service-info">
                   <h4>farammcode</h4>
                   <h6>Lorem ipsum dolor sit amet consectetur.</h6>
                   <div class="underline"></div>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, atque. Reprehenderit velit nisi quis veritatis, eveniet, quibusdam corrupti quaerat iste atque dolorem illo earum. Expedita.</p>
                </div>
                <div class="service-media">
                    <iframe class="iframe" id="ytplayer" type="text/html" 
  src="https://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1&origin=http://example.com"
  frameborder="0"></iframe>
                </div>
            </div>
        </section>
        <section class="section section-others">
            <div class="small-others">
            <h4>farammcode</h4>
            <ul>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
            </ul>
            </div>
            <div class="big-others">
                <h4>farammcode</h4>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, praesentium.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, praesentium.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, praesentium.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, praesentium.</li>

                </ul>
            </div>
        </section>
    </main>
    <footer>
        <section class="social-media">
            <div class="section social-wrapper">
                <div class="social-icons">
                    <h6>connect with us</h6>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-youtube"></i>
                    <i class="fa fa-linkedin"></i>
                </div>
                <div class="search-input">
                    <input type="text">
                </div>
                <div class="search-btn">
                    <button class="btn btn-search">search</button>
                </div>
            </div>
        </section>
        <section class="main-footer">
            <div class="section section-main-footer">
                <div class="footer-content">
                    <h5>Aboutus</h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A sit saepe quae illo perferendis porro architecto tempora aut culpa laudantium, harum qui cumque velit ducimus maxime voluptates totam iure. Officia, quos? Doloremque, dolor voluptatibus mollitia magni non maiores porro ipsum recusandae error, sunt sint, aperiam nulla aspernatur accusantium. Dolor, veniam?</p>
                </div>
                <div class="footer-content">
                    <h5>Aboutus</h5>
                    <ul>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                    </ul>
                </div>
                <div class="footer-content">
                    <h5>Aboutus</h5>
                    <ul>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                    </ul>
                </div>
                <div class="footer-content">
                    <h5>Aboutus</h5>
                    <ul>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                    </ul>
                </div>
            </div>
            <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptatem iste, dolorem dolor veniam placeat.</h5>
        </section>
    </footer>
    <script src="index.js"></script>
</body>
</html>